@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* CSS and Images taken from: https://www.figma.com/file/4KIM14zOqqIKRuF8kBtHGs/Showcase-Website?node-id=1%3A2&t=3VzgqjOLjEMhWvnL-1 */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
  color: #54575A;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
}

.wrapper{
  position: relative;
  width: 1440px;
  height: 1379px;
  margin: auto;
}

.brand-img{
  position: absolute;
  width: 193px;
  height: 47.64px;
  left: 221px;
  top: 50.25px;
}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 68px;
}

.text{
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.app-store-btn {
  position: absolute;
  width: 138.44px;
  height: 46.28px;
  left: 221px;
  top: 531px;
}

.app-store-btn img {
  width: 138.44px;
  height: 46.28px;
}

.google-play-btn{
  position: absolute;
  width: 156.19px;
  height: 46.28px;
  left: 381.81px;
  top: 531px;
}

.google-play-btn img {
  width: 156.19px;
  height: 46.28px;
}

.main-image-container{
  position: absolute;
  width: 535.72px;
  height: 309.27px;
  left: 683.28px;
  top: 229.73px;
}

.main-image-container img {
  height: 411.15px;
}

.profile-img {
  position: absolute;
  height: 444px;
  left: 737px;
  right: 479px;
  top: 686px;
}

.orders-img {
  position: absolute;
  height: 470px; /* increased from 444 to show full box shadow */
  left: 479px;
  right: 737px;
  top: 913px;
}

.home-img {
  position: absolute;
  height: 470px; /* increased from 444 to show full box shadow */
  left: 995px;
  right: 221px;
  top: 908px;
}

.cart-img {
  position: absolute;
  height: 222px; /* cut in half from the real image */
  left: 221px;
  right: 995px;
  top: 1157px;
}

.product-img {
  position: absolute;
  height: 222px; /* cut in half from the real image */
  left: 737px;
  right: 479px;
  top: 1157px;
}

/* Background Toggles */
.background-toggles {
  position: absolute;
  right: 150px;
  top: 70px;
  display: flex;
}

.background-toggles > div {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Backgrounds */
.background-1 {
  background-color: #f2f2f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23b8b8b8' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
  background: linear-gradient(to bottom, #e6dada, #274046);
}

.background-3 {
  background: linear-gradient(to top, #649173, #dbd5a4);
}